<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=com.springc"/>
        <listEntry value="artifactId=springc"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.springcore"/>
        <listEntry value="outputDirectory=/Users/jaimitkumarpanchal/eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/6w/9w_z3mz56l79yt893w88wtpr0000gn/T/m2e-archetypeGenerator3207440614208912592"/>
</launchConfiguration>
